.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 50px;
 
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
    padding: 20px 50px 20px 20px;
}

.card:not(:last-child){
  margin-bottom: 20px;
}

.image{
  width: 350px;
margin-right: 30px;
border-radius: 4px;
}

.textWrapper {
  position: relative;
  height: 100%;
  padding: 4rem 0 4rem;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:nth-child(even) .image {
  margin-left: 30px;
}

.card:nth-child(even) .textWrapper {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
}