.header{
   margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(1, 1, 37, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.link{
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid gray;
    border-radius: 5px;
}

.link:hover{
    background-color: gray;
    color: white;
}



.link:not(:last-child){
    margin-right: 20px;
}

.nav{
    margin-left: 80px;
}