body {
  margin: 120px 0 0 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: rgb(1, 1, 37);
   font-family:  "Open Sans", sans-serif;
   color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
   max-width: 100%;
   display: block;
}